<div class="c-module-tile c-module-tile--{{ module.color}} flex-center flex-lg-start-left"  *ngIf="createMode">
	<h2 class="c-module-tile__title">{{ module.shortName}}</h2>
	<div class="add-button-wrapper d-none d-lg-block">
		<button mat-fab color="primary-inverted" [matMenuTriggerFor]="createMenu">
			<mat-icon>add</mat-icon>
		</button>
		<mat-menu #createMenu="matMenu" [routerLink]="['/', 'task', 'create']" [queryParams]="{id: module.id}">
			<button mat-menu-item>
				<mat-icon>library_add_check</mat-icon>
				Aufgabe
			</button>
			<button mat-menu-item [routerLink]="['/', 'submission', 'create']" [queryParams]="{id: module.id}">
				<mat-icon>move_to_inbox</mat-icon>
				Abgabe
			</button>
			<button mat-menu-item [routerLink]="['/', 'exam', 'create']" [queryParams]="{id: module.id}">
				<mat-icon>rate_review</mat-icon>
				Prüfung
			</button>
		  </mat-menu>
	</div>
</div>
<div class="c-module-tile c-module-tile--{{ module.color}} c-module-tile--linked flex-center flex-lg-start-left" *ngIf="!createMode" [routerLink]="'../detail'" [queryParams]="{id: module.id}">
	<h2 class="c-module-tile__title">{{ module.shortName}}</h2>
</div>
