
@import "../../../scss/variables.scss";
@import "../../../scss/text.scss";
@import "~bootstrap/scss/mixins";

.c-module-tile {
	min-height: 64px;
	padding: 15px;
	border-radius: 4px;
	background-color: map-get($theme-colors, grey1); // default color for white font
	color: map-get($theme-colors, white);
	text-align: center;
	user-select: none;

	@include module-background-colors();

	&__title {
		margin-bottom: 0;
		font-size: map-get($font-size, large);
		font-weight: map-get($font-weight, bold);
		letter-spacing: 0.75px;
		text-transform: uppercase;

		@include media-breakpoint-up(lg) {
			font-size: map-get($font-size, xl);
		}
	}

	@include media-breakpoint-up(sm) {
		min-height: 80px;
	}

	@include media-breakpoint-up(lg) {
		min-height: 110px;
	}
}

.add-button-wrapper {
	position: absolute;
	right: map-get($spacing, 6);
	bottom: map-get($spacing, 4);
}
