<hlf-page>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="h1">Module</h4>
			</div>
		</div>
		<div class="row" id="modules">
			<div class="col-4 col-md-3 col--module" *ngFor="let module of modules" (panstart)="setModule(module)" (panend)="setAction($event)">
				<hlf-module-tile [module]="module" createMode></hlf-module-tile>
			</div>
		</div>
		<div class="row d-block d-lg-none">
			<div class="col-12">
				<h1 class="h4">Erfassen</h1>
			</div>
		</div>
		<div class="row d-block d-lg-none">
			<div class="col-12">
				<button mat-button (click)="alert()" class="c-create-element-button --green unclickable" disableRipple id="task">
					<mat-icon>library_add_check</mat-icon>
					Aufgabe
				</button>
			</div>
			<div class="col-12">
				<button mat-button (click)="alert()" class="c-create-element-button --yellow unclickable" disableRipple id="submission">
					<mat-icon>move_to_inbox</mat-icon>
					Abgabe
				</button>
			</div>
			<div class="col-12">
				<button mat-button (click)="alert()" class="c-create-element-button --red unclickable" disableRipple id="exam">
					<mat-icon>rate_review</mat-icon>
					Prüfung
				</button>
			</div>
		</div>
	</div>
</hlf-page>
