@import "../../../scss/variables.scss";

.mat-card {
	background-color: map-get($theme-colors, light-grey);
}

.container {
	padding-top: map-get($spacing, 4);
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;

	button {
		margin-left: map-get($spacing, 3);
	}
}
