@import '../../../scss/variables';
@import '~bootstrap/scss/mixins';

h4 {
	@include media-breakpoint-up(lg) {
		margin-top: map-get($spacing, 5);
		margin-bottom: map-get($spacing, 4);
	}
}

.mobile-scroll-wrapper {
	max-height: 200px;
	overflow-y: auto;
	padding: 2px;

	@include media-breakpoint-up(lg) {
		max-height: unset;
		overflow: unset;
		padding: 0;
	}
}

.todo-element {
	&:last-of-type {
		::ng-deep .mat-card {
			margin-bottom: 3px;
		}
	}
}
