// @import "~bootstrap/scss/variables";
@import "../../../scss/variables.scss";
@import "~bootstrap/scss/mixins";

header {
	height: 70px;
	background-color: map-get($theme-colors, grey1);
}

.navigation {
	height: 100%;

	&-container {
		height: 100%;
	}

	&-desktop {
		display: none;
		height: 100%;

		ul {
			list-style-type: none;
			display: flex;
			align-items: center;
		}

		li {
			display: inline-block;
			padding: 0 10px;
			color: white;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
}
