<mat-sidenav-container class="h-100">
	<mat-sidenav #drawer mode="over" position="end">
		<div class="mat-sidenav-content h-100 flex-column">
			<p>Auto-resizing sidenav</p>
			<p>Lorem, ipsum dolor sit amet consectetur.</p>
			<div class="sidenav__bottom">
				<mat-list role="list">
					<h6 mat-subheader>Helferlein</h6>
					<a mat-list-item href="#">Impressum</a>
					<a mat-list-item href="#">Datenschutz</a>
				</mat-list>
			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="page-wrapper">
			<header>
				<nav class="navigation">
					<div class="container h-100">
						<div class="row h-100">
							<div class="col col-lg-2 flex-v-center">
								<h6>Helferlein</h6>
							</div>
							<div class="d-none d-lg-flex col-lg-9 flex-v-center">
								<ul class="navigation-desktop">
									<li>
										<hlf-icon-button icon="add" [link]="['/', 'create-overview']">Erstellen</hlf-icon-button>
									</li>
									<li>
										<hlf-icon-button icon="check" [link]="['/', 'do-overview']">Erledigen</hlf-icon-button>
									</li>
									<li>
										<hlf-icon-button icon="folder" [link]="['/', 'module-overview']">Module</hlf-icon-button>
									</li>
								</ul>
							</div>
							<div class="col col-lg-1 flex-v-center f-right">
								<button mat-icon-button class="navigation__hamburger" (click)="drawer.toggle()">
									<mat-icon>menu</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<div class="content-section">
				<ng-content></ng-content>
			</div>
			<footer>
				<div class="container h-100">
					<div class="row h-100 align-items-center">
						<div class="col d-none d-lg-flex">
							<h6>Helferlein</h6>
						</div>
						<div class="col d-flex d-lg-none h-100">
							<div class="navigation footer-navigation">
								<ul class="navigation-mobile">
									<li>
										<hlf-icon-button icon="add" [link]="['/', 'create-overview']">Erstellen</hlf-icon-button>
									</li>
									<li>
										<hlf-icon-button icon="check" [link]="['/', 'do-overview']">Erledigen</hlf-icon-button>
									</li>
									<li>
										<hlf-icon-button icon="folder" [link]="['/', 'module-overview']">Module</hlf-icon-button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
