// Spacing for module grid
.col--module {
	margin: map-get($spacing, 3) 0;

	@include media-breakpoint-up(lg) {
		margin: map-get($spacing, 4) 0;
	} // Query
}

.c-link {
	font-weight: map-get($font-weight, medium);
	color: map-get($theme-colors, grey1);
}
