@import "~bootstrap/scss/mixins";

@mixin flex-v-center {
	display: flex;
	align-items: center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-v-center {
	@include flex-v-center();
}

.flex-center {
	@include flex-center();
}

.flex-lg-start-left {
	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: flex-start;
		justify-content: left;
	}
}

.f-right {
	justify-content: right;
}

@mixin reset-margins($parameters) {
	@each $property in $parameters {
		#{$property} {
			margin: 0;
		}
	  }
}

.h-100 {
	height: 100%;
}

.v-100 {
	width: 100%;
}

.vh-100 {
	width: 100%;
	height: 100%;
}
