

$module-width: (
	desktop: 200px,
	tablet: 150px,
	mobile: 100px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$theme-colors: (
	grey1: #333333,
	grey2: #E8E8E8,
	main-blue: #03A9F4,
	white: #FFFFFF,
	light-grey: #FAFAFA,
	indigo: #4054B2,
	teal: #009688,
	green: #4CAF50,
	yellow: #FDD835,
	orange: #FF9800,
	red: #F2453D,
	pink: #E91E63,
	purple: #9C27B0,
	violet: #673AB7
);

$font-weight: (
	light: 200,
	base: 400,
	medium: 500,
	bold: 700,
	black: 800,
);

$font-size: (
	xs: 12px,
	small: 13px,
	base: 14px,
	medium: 18px,
	large: 20px,
	xl: 24px,
	xxl: 28px,
	xxxl: 30px,
	huge: 48px,
	xh: 60px,
	xxh: 96px,
);

$default-spacer: 10px;
$spacing: (
	0: $default-spacer * 0,
	1: $default-spacer * 0.25,
	2: $default-spacer * 0.5,
	3: $default-spacer,
	4: $default-spacer * 1.5,
	5: $default-spacer * 2,
	6: $default-spacer * 3,
	7: $default-spacer * 4,
	8: $default-spacer * 6,
	9: $default-spacer * 8,
);
